.header {
    background-color: purple;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30;
    padding-top: 30;
    padding-bottom: 30;
    padding-right: 30;
    text size: 30;
}